/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #d9d9d9;
    color: #333;
  }
  
  /* Marcador de turno */
  .turno-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .turno-display h1 {
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
    color: #007bff;
  }
  
  .turno-display p {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
  }
  
  /* Botones */
  .controls {
    display: flex;
    gap: 15px;
  }
  
  .controls button {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .controls button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .controls button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Caja para cambiar el turno */
  .set-turno {
    margin-top: 20px;
    text-align: center;
  }
  
  #set-turno input {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 150px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .set-turno input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .set-turno button {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .set-turno button:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  .set-turno button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  